:root {
  --main-background: #313131;
  --input-background: #f9f9f9;
}

body {
  font-family: 'Amiri', serif;
}

.input-field {
  background-color: var(--input-background);
  padding: 25px;
}

.wrapper {
  background: var(--main-background);
  padding: 20px 0;
}

@media (min-width: 1100px) {

  .wrapper {
    width: 60%;
    margin: auto;
    background-color:
  }

  .input-field {
    width: 35%;
    margin: auto;
  }

}
